<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Debug" internalLogFile="${basedir}/logs/nlog-internal.log">
  <targets>
    <!-- Console target -->
    <target name="console" xsi:type="AsyncWrapper">
      <target xsi:type="Console" layout="${longdate} ${level:uppercase=true} ${message}"/>
    </target>

    <!-- File target -->
    <target name="file" xsi:type="AsyncWrapper">
      <target xsi:type="File"
              fileName="logs/${date:format=yyyy-MM-dd-HH}/${logger}.log"
              layout="${longdate} ${level} ${message} ${exception:format=ToString,StackTrace}"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8" />
    </target>
  </targets>

  <rules>
    <!--框架本身的log-->
    <logger name="Microsoft.*" minlevel="Warn" writeTo="console,file" final="true" />

    <!-- Development 環境 -->
    <logger name="*" minlevel="Trace" writeTo="console,file" condition="'${aspnet-environment}' == 'Development'" />

    <!-- Production 環境 -->
    <logger name="*" minlevel="Warn" writeTo="console,file" condition="'${aspnet-environment}' == 'Production'" />
  </rules>
</nlog>
