<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Debug" internalLogFile="${basedir}/logs/nlog-internal.log">
  <targets>
    <!-- Console target -->
    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

    <!-- File target -->
    <target name="file" xsi:type="AsyncWrapper">
      <!--<target xsi:type="File"
              fileName="logs/${date:format=yyyy-MM-dd-HH}/${logger}.log"
              layout="${longdate} ${level} ${message} ${exception:format=ToString,StackTrace}"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="utf-8" />-->
      <target xsi:type="File" name="file" fileName="logs/${date:format=yyyy-MM-dd-HH}/${logger}.log"
            layout="${longdate}|${event-properties:item=EventId:whenEmpty=0}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />
    </target>
  </targets>

  <rules>
    <!-- Suppress output from Microsoft framework when non-critical -->
    <logger name="System.*" finalMinLevel="Warn" writeTo="lifetimeConsole,file"/>
    <logger name="Microsoft.*" finalMinLevel="Warn" writeTo="lifetimeConsole,file"/>
    <!-- Keep output from Microsoft.Hosting.Lifetime to console for fast startup detection -->
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" writeTo="lifetimeConsole,file" />

    <!-- Development 環境 -->
    <logger name="*" minLevel="Trace" writeTo="lifetimeConsole,file">
      <filters defaultAction="Log">
        <when condition="'${aspnet-environment}' == 'Development'" action="Log" />
      </filters>
    </logger>

    <!-- Production 環境 -->
    <logger name="*" minlevel="Warn" writeTo="lifetimeConsole,file">
      <filters defaultAction="Log">
        <when condition="'${aspnet-environment}' == 'Production'" action="Log" />
      </filters>
    </logger>
  </rules>
</nlog>
