<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Console target -->
    <target name="console" xsi:type="Console" layout="${longdate} ${logger} ${level} ${message}" />

    <!-- File target -->
    <target name="file" xsi:type="File"
            fileName="logs/${date:format=yyyy-MM-dd-HH}/${logger}.log"
            layout="${longdate} ${level} ${message} ${exception:format=ToString,StackTrace}"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="utf-8" />
  </targets>

  <rules>
    <!-- Development 環境 -->
    <logger name="*" minlevel="Trace" writeTo="console,file" condition="'${aspnet-environment}' == 'Development'" />

    <!-- Production 環境 -->
    <logger name="*" minlevel="Warning" writeTo="console,file" condition="'${aspnet-environment}' == 'Production'" />
  </rules>
</nlog>
